/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
  padding-top: 1px;
  padding-bottom: 1px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.homepageimage {
    background-image: url(ice_img.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.whitetext {
    color: white;
}

.blackgradient {
    background-color: black;
    background: linear-gradient(to top, white, black);
}

.black {
    background-color: black;
    height: 100vh;
}

.white {
    background-color: white;
    height: 100vh;
}

.whitegradient {
    background-color: white;
    background: linear-gradient(to top, white, black);
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.center-ver {
    padding-top: 10%;
    padding-bottom: 10%;
}
.center-ver-frontpage {
    padding-top: 15%;
    padding-bottom: 25%;
}

.no-padding {
    padding-right: 0px;
    padding-left: 0px;
}

.footer-padding {
    padding: 20px;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.nav-wrapper {
    margin-top: 57px;
}

.title {
    font-family: "Gravity-Regular";
    font-weight: bolder;
    letter-spacing: 20px;
    width: 100%;
    maxWidth: 500;
}